:root{
  --header-height: 100px;
  --footer-height: 50px;
  --cell-number-row: none;

  --primary-color: #7fffd4;
  --secondary-color: #6495ed;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}




.app-wrapper{
  width: 100%;
  height: 100vh;
}

.container{
  width: 80%;
  margin: 0 auto;
}

/* HEADER  */
header{
  width: 100%;
  height: var(--header-height);
}

header .container{
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title,
.difficulty{
  margin: 0 20px;
}

.title h1{
  font-size: 2em;
}

.difficulty label,
.difficulty select,
.difficulty button{
  font-size: 1.1em;
  margin: 0 10px;
}

/* FOOTER  */
footer{
  width: 100%;
  height: var(--footer-height);
  font-size: 1.5em;
  line-height: var(--footer-height);
}

/* MAIN  */
main{
  width: 100%;
  height: calc(100vh - var(--header-height) - var(--footer-height));
  background-color: var(--primary-color);
}

/* difficulty class */
main.easy{
  --cell-number-row: 10;
  --cell-size: calc(50vh / var(--cell-number-row));
}

main.medium{
  --cell-number-row: 9;
  --cell-size: calc(50vh / var(--cell-number-row));
}

main.hard{
  --cell-number-row: 7;
  --cell-size: calc(50vh / var(--cell-number-row));
}

main{
  display: flex;
  justify-content: center;
  align-items: center;
}

#start-message{
  height: 100%;
  font-size: 2.2em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#grid{
  width: calc(var(--cell-size) * var(--cell-number-row));
  height: calc(var(--cell-size) * var(--cell-number-row));

  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.cell{
  width: var(--cell-size);
  height: var(--cell-size);
  background-color: var(--primary-color);
  border: 1px solid black;
  font-size: 1.5em;
  text-align: center;
  line-height: var(--cell-size);
  cursor: pointer;
}

.active{
  color: white;
  background-color: var(--secondary-color);
}